/* You can add global styles to this file, and also import other style files */
body{
    background-color: rgba(22,32,42,255);
    font-family: 'Roboto', sans-serif;
    color: rgba(249,253,109,255);
}

